.container {
  max-width: 1550px;
  margin: 0 auto;
  
}

.noticia {
  text-align: center;
}

.noticia img {

  max-width: 50%;
  height: auto;
  margin-top: 20px;
}
h1{
    background: linear-gradient(to right,rgb(80,8,96),rgb(4,232,213)) ;
margin-top: 0px;
padding: 50px;

}


